body{
    background-color: #C74696;
    
}

#image {
    position: absolute;
    top: 87px;
    left: 1205px;
    width: 236px;
    height: auto;
}

.button {
    position: absolute;
}

#button1 {
    top: 393px;
    left: 888px;
}

#button2 {
    top: 459px;
    left: 1140px;
}

#button3 {
    top: 389px;
    left: 1378px;
}


#button1 img {
    width: 405px; 
    height: auto; 
    transition: transform 0.2s; 
}

#button2 img {
    width: 392px; 
    height: auto; 
    transition: transform 0.2s;
}

#button3 img {
    width: 412px; 
    height: auto; 
    transition: transform 0.2s; 
}



.button:hover img {
    transform: scale(1.1);
}
@font-face {
    font-family: 'Human-beomseok'; 
    font-style: normal; 
    font-weight: 100; 

    src: url('Human-beomseok.otf'); 
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    width: 100vw;
    font-family: 'Human-beomseok';
    position: relative;
}
.title {
    font-size: 150px; /* 원하는 크기로 변경 */
    line-height: 1.2;
    text-align: center;
    margin-left: 240px; /* 원하는 여백으로 변경 */
    margin-top: 100px;
    letter-spacing: 5px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.bottom-left {
    position: absolute;
    bottom: -23px; /* 원하는 여백으로 변경 */
    left: 150px; /* 원하는 여백으로 변경 */
    font-size: 40px; /* 원하는 크기로 변경 */
    letter-spacing: 5px;
}
.row{
    display: flex;
    align-items: center;
    margin-bottom:83px; /* 상자,글자의 수직 간격 */
}
.square {
    width: 40px; /* 원하는 크기로 변경 */
    height: 40px; /* 원하는 크기로 변경 */
    margin-right: 20px; /* 사각형과 글자 사이의 간격 */
    border-radius: 10px; /* 테두리의 둥글기 정도 */
}
.dark {
    background-color: #F80050;
}
.true {
    background-color: #B20024;
}
.bright {
    background-color: #CD0864;
}
